@import ./font
@import ./main
nav
  position: fixed
  top: 0
  background: $dark-gray
  opacity: .6
  width: 100vw
  height: 50px
  &::after
    content: ''
    position: absolute
    top: 35px
    background: $light-gray
    width: 100%
    height: 15px
.nav-rocket
  position: relative
  display: flex
  align-items: center
  max-width: 100%
  transform: translateX(-105%)
  img
    position: absolute
    z-index: 2
    top: 50%
    right: -25px
    transform: translateY(-50%)
    max-width: 50px
  &::before
    content: ''
    display: inline-block
    position: relative
    z-index: 1
    width: 100%
    height: 50px
    background: rgba($blue,.9)
body
  cursor: none
  width: 100vw
  height: 100vh
  overflow: hidden
.mouse
  position: fixed
  top: 0
  left: 0
  z-index: 99
  width: 40px
  border-radius: 50%
  pointer-events: none
  &.cotton-active
    .dragged
      display: block
    .undrag
      display: none
  .dragged
    display: none
  // transform: translate(-20px, -20px)
.transitions
  position: absolute
  z-index: 98
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow: hidden
  pointer-events: none
  >ul
    display: flex
    flex-wrap: wrap
    justify-content: center
    >li
      width: 120px
      height: 120px
      background: #000
      color: #000
      opacity: 0
      // transition: opacity .4s
      transition-delay: .5s
      &:nth-child(2n)
        transition-delay: .1s
      &:nth-child(3n)
        transition-delay: .2s
      &:nth-child(4n)
        transition-delay: .3s
      &:nth-child(5n)
        transition-delay: .4s
.next-e
  display: none
  opacity: 0
.mgt-100
  margin: 100px auto 0 auto
  width: 100%
.btn-group
  position: absolute
  bottom: 60px
  right: 30px
  display: flex
  align-items: center
  gap: 30px
.common-btn
  padding: 20px
  position: relative
  display: block
  background: $blue
  text-align: center
  color: $white
  &:hover
    &::before
      transform: translate(10px,10px)
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    background: $dark-gray
    transition: transform .6s
.common-dialog
  &.active
    .show-dialog
      display: block   
    .hide-dialog
      display: none
.hide-dialog
  animation: pop 1s infinite
  @keyframes pop
    0%, 50%, 100%
      transform: translateY(0px)
    25%, 75%
      transform: translateY(5px)
.show-dialog
  display: none
  +typing
.dot
  width: 30px
  height: 30px
footer
  position: fixed
  bottom: 0
  background: rgba($green, .3)
  padding: 10px
  width: 100vw
  text-align: center
  color: $white