@font-face
	font-family: 'Cubic'
	font-display: swap
	src: local(Cubic), url(../assets/fonts/web/Cubic_11_1.013_R.woff2) format('woff2'), url(../assets/fonts/web/Cubic_11_1.013_R.woff) format('woff'), url(../assets/fonts/ttf/Cubic_11_1.013_R.ttf) format('truetype'),

.fz-100
	font-size: 100px
	line-height: 1.2
	letter-spacing: 1px
.fz-50
	font-size: 50px
	line-height: 1.2
.fz-36
	font-size: 36px
	line-height: 1.5
	letter-spacing: .8px
.fz-24
	font-size: 24px
	line-height: 1.2
	letter-spacing: .8px
//顏色
$white: #fff
$blue: #0693E3
$navy: #2F343F
$dark-gray: #454545
$light-gray: #afafaf
$green: #00304d
$red: #a84444
$light-green: #0f521a
$mustard: #435a1e
$yellow: #ffee00