@import ./font
//mixin
=posCenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
=typing
  &::after
    content:'|'
    display: inline-block
    margin-left: 5px
    animation: typing 1s ease infinite
    @keyframes typing
      0%
        opacity: 0
      100%
        opacity: 1
=aarow
  display: block
  position: relative
  width: 2px
  height: 40px
  background: $yellow
  &::before, &::after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    background: $yellow
    width: 2px
    height: 20px
    animation: arrow 10s infinite
    @keyframes arrow
      0%, 50%, 100%
        height: 5px
      25%, 75%
        height: 20px
  &::before
    transform: rotate(-45deg)
    transform-origin: bottom left
  &::after
    transform: rotate(45deg)
    transform-origin: bottom right
.bg
  position: absolute
  top: 0
  left: 0
main
  overflow: hidden
  height: 100vh
.welcome
  opacity: 0
  .title
    margin: 0 auto
    display: flex
    align-items: center
    gap: 50px
    width: fit-content
    color: $blue
    -webkit-text-stroke: 2px $white
    &::before
      content: '*'
      color: $white
    &::after
      content: '+'
      color: $white 
      font-size: 100px
  .img-tica
    margin: 50px auto 0 auto
    position: relative
    z-index: -1
    max-width: 260px
    width: 100%
  .welcome-text
    margin: -150px auto 0 auto
    width: 90vw
    text-align: center
    padding: 10px
    background: $light-gray
    >p
      padding: 50px 65px
      background: $green
      color: $white
      +typing
  .challenge-accepted
    margin: 100px auto 0 auto
    width: 200px
    opacity: 0
.introduction
  max-width: 1300px
  .intro-title
    display: flex
    align-items: center
    justify-content: center
    gap: 20px
    color: $white
    white-space: nowrap
    &::before, &::after
      content: ''
      width: 100%
      height: 15px
      border-radius: 15px
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%)
    &::after
      transform: rotate(180deg)
  .intro-content
    margin-top: 100px
    display: flex
    justify-content: center
    gap: 50px
    align-items: center
  .each-character
    max-width: calc( (100% - 100px) / 3  )
    >p
      margin-top: 15px
      padding: 0 20px
      color: $white
      &:first-child
        margin-top: 30px
  .character-img
    max-height: 340px
    overflow: hidden
  .intro-button
    margin-top: 50px
    display: flex
    justify-content: space-between
    align-items: center
  .recommend-link
    padding-bottom: 5px
    color: $white
    border-bottom: 1px solid $white
.product-owner
  max-width: 1300px
  .po-wrap
    padding: 150px 0
    display: flex
    align-items: flex-start
    gap: 30px
  .pig-img
    max-width: 300px
    flex-shrink: 0
  .dialog
    position: relative
    margin-left: 100px
    padding: 30px
    border: 10px solid $white
    background: $red
    color: $white
    &::before, &::after
      content: ''
      position: absolute
      display: inline-block
      border: 10px solid $white
      background: $red
    &::before
      width: 30px
      height: 30px
      top: 30px
      left: -135px
      animation: dialog1 1s infinite
      @keyframes dialog1
        0%
          opacity: 0
        100%
          opacity: 1
    &::after
      width: 50px
      height: 50px
      top: 0
      left: -85px
      animation: dialog2 1s infinite .5s
      @keyframes dialog2
        0%
          opacity: 0
        100%
          opacity: 1
  .btn-group
    justify-content: flex-end
.drag-game
  max-width: 1300px
  .jira-wrap
    display: flex
    gap: 40px
    align-items: flex-start
  .pig-img
    max-width: 180px
    max-height: 150px
    overflow: hidden
  .jira-box
    width: 100%
    padding: 15px 30px
    display: flex
    justify-content: space-between
    align-items: center
    background: $red
  .jira-logo
    max-width: 160px
  .jira-text
    color: $white
    a
      display: inline-block
      margin: 0 5px
      position: relative
      transition: letter-spacing .4s
      &:hover
        letter-spacing: 1.5px
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        width: 100%
        height: 1px
        background: $white
        animation: link 5s infinite
        @keyframes link
          0%, 50%, 100%
            width: 0
          25%, 75%
            width: 100%
  .drag-wrap
    display: flex
    height: 600px
    background: $dark-gray
    width: 100%
    color: $white
  .container
    padding: 15px
    background: $dark-gray
    width: 48%
    &:last-child
      padding-top: 70px
  .draggable
    padding: 20px 30px
    border: 5px solid $red
    // cursor: grab
    &:not(:first-child)
      margin-top: 20px
    >p
      &:not(:first-child)
        margin-top: 15px
  .dragging
    border: 5px solid $white
    background: $red
    box-shadow: 8px 8px 0px rgba($light-gray, .3)
    transform: rotate(-10deg)
  .priority
    padding: 15px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    background: $light-gray
    width: 4%
    writing-mode: vertical-lr
  .productBacklog
    width: 100%
    height: 100%
  .sortable-ghost
    border: dashed 5px $light-gray
  .message
    display: none
    &.active
      position: absolute
      top: 0
      left: 0
      z-index: 1
      display: block
      background: rgba(#000, .6)
      width: 100vw
      height: 100vh
    .message-box
      +posCenter
    .pig-img
      margin: 0 auto
      max-width: 360px
      max-height: 305px
    .check-message
      margin-top: 30px
      text-align: center
      color: $white
    .game-prev, .game-next
      display: none
      width: 150px
      &.active
        margin: 30px auto 0 auto
        display: block
  .btn-group
    margin-top: 30px
    justify-content: flex-end
.sprint-explain
  max-width: 1300px
  .each-role
    display: flex
    align-items: center
    gap: 40px
    color: $white
    &:not(:first-child)
      margin-top: 40px
  .role-img
    max-width: 180px
    flex-shrink: 0
    img
      max-height: 200px
    >p
      margin-top: 15px
      text-align: center
  .text-box
    // cursor: pointer
    p
      min-width: 70px
      min-height: 50px
      padding: 10px 20px
    &[bg="red"]
      p
        background: $red
    &[bg="green"]
      p
        background: $light-green
    &[bg="mustard"]
      p
        background: $mustard
    .explain-text
      display: none
      &.active
        display: block
    .explain-text3
      >img
        margin: 0 5px
        display: inline-block
        max-width: 50px
        transform: translateY(5px)
  .btn-group
    margin-top: 30px
    justify-content: flex-end
  .more
    padding: 10px
    background: $dark-gray
    width: fit-content
    margin: 10px 0 0 auto
    animation: pop 1s infinite
.sprint-list
  margin: 200px auto 0 auto
  width: 100%
  max-width: 1300px
  color: $light-gray
  .container
    display: flex
    gap: 25px
  .backlog-section, .sprint-section
    padding: 15px
    position: relative
    background: $dark-gray
    width: 50%
    min-height: 500px
  .list-title 
    margin-bottom: 20px
  .droppable-container
    display: flex
    flex-direction: column
    gap: 25px
    min-height: 570px
  .draggble
    padding: 15px 30px
    border: 5px solid $yellow
    max-width: 70%
    font-size: 24px
    &:nth-child(even)
      margin-left: auto
    >p
      margin-top: 15px
      font-size: 20px
  .time-avatar
    margin-top: 10px
    display: flex
    align-items: center
    gap: 5px
    font-size: 16px
    >li
      width: 10px
      height: 10px
      background: $yellow
      &:first-child
        margin-left: 10px
  .warning-text 
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(#000, .4)
    &.hidden
      display: none
    >p
      +posCenter
  .current-point
    display: flex
    align-items: center
    gap: 5px
    >li
      width: 10px
      height: 10px
      background: $yellow
      &:first-child
        margin-left: 10px
  .btn-group
    margin-top: 30px
    justify-content: flex-end
.sprint
  max-width: 1300px 
  .sprint-top
    display: flex
    align-items: flex-start
    gap: 30px
    min-height: 261px
  .sprint-text
    display: none
    &.active
      display: block
  .role-img
    max-width: 180px
    width: 100%
    flex-shrink: 0
    >p
      margin-top: 10px
      color: $white
      text-align: center
  .text-box
    padding: 15px 30px
    background: $mustard
    color: $white
  .sprint-bottom
    margin-top: 40px
  .option
    padding: 15px
    display: flex
    justify-content: space-between
    background: $navy
  .option-box
    padding: 10px 0
    width: 400px
    text-align: center
    color: $white
    transition: background .6s
    &:hover, &.active
      background: $yellow
      color: $dark-gray
    >p
      &:last-child
        margin-top: 10px
  .option-text
    padding: 15px
    color:$white
    >img
      transform: translateY(6px)
      display: inline-block
      max-width: 136px
    >span
      +typing
.sprint-drag
  .sprint-top
    min-height: 200px
  .sprint-bottom
    padding: 50px 65px
    background: $navy
    display: flex
  .flow-chart1
    position: relative
    .step
      padding: 10px
      background: $yellow
    span
      margin: 0 auto 40px auto
      +aarow
      &:last-child
        position: absolute
        margin: 0
        right: -20px
        bottom: 5px
        transform: rotate(270deg)
  .flow-chart2
    margin: 100px 0 0 60px
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 20px
    border: 5px solid $yellow
    border-radius: 15px
    width: 360px
    color: $white
    >span
      +aarow
      position: absolute
      &:nth-child(3)
        top: 60px
        left: -3px
      &:nth-child(4)
        top: 37%
        right: -21px
        transform: rotate(270deg)
  .flow-chart3
    margin: 200px 0 0 80px
    padding: 20px
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    &::before
      content: ''
      +posCenter
      width: 100%
      height: 100%
      border: 3px dashed $yellow
    .answer
      position: relative
      z-index: 1
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      border: 3px dashed $light-gray
      width: 300px
      height: 150px
      &:first-child
        position: absolute
        top: -200px
        left: -85px
        border: 5px solid $yellow
        border-radius: 15px
    >span
      +aarow
      position: absolute
      bottom: 40%
      left: 50%
      transform: rotate(270deg)
  .selection-wrap
    margin-top: 50px
    display: flex
    gap: 30px
  .selection
    padding: 10px
    text-align: center
    border: 5px solid $yellow
    color: $white
    // cursor: grab
  .check-selection
    display: none
    &.active
      display: block
      position: absolute
      top: 0
      left: 0
      z-index: 2
      width: 100vw
      height: 100vh
      background: rgba(#000 ,.6)
    .wrap
      +posCenter
    .role-img
      margin: 0 auto
    .success, .fail
      display: none
      &.active
        display: block
        margin-top: 20px
        text-align: center
      >p
        color: $white
      .common-btn
        margin: 30px auto 0 auto
        width: 200px
.reflect
  .sprint-top
    min-height: 205px
  .sprint-bottom
    display: flex
    justify-content: space-between
  .container
    width: 640px
    >p
      text-align: center
      color: $yellow
  .box
    padding: 10px 10px 10px 60px
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    background: $navy
    height: 150px
    transition: background .4s
    &:hover, &.active
      background: $dark-gray
      >p
        color: $yellow
      span
        animation: selected 3s infinite
        @keyframes selected
          0%, 50%, 100%
            transform: rotate(270deg) translateY(5px)
          25%, 75%
            transform: rotate(270deg) translateY(0px)
    span
      +aarow
      position: absolute
      left: 30px
      display: inline-block
      transform: rotate(270deg)
    >p
      display: inline-block
      color: $white
      transition: color .4s
  .answer
    .answer-view
      display: none
      &.active
        display: block
        position: absolute
        top: 0
        left: 0
        z-index: 2
        width: 100vw
        height: 100vh
        background: rgba(#000, .6)
  .answer-wrap
    +posCenter
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: 500px
    text-align: center
    color: $white
    .role-img
      margin: 0 auto
    >p
      margin-top: 20px
    .common-btn
      width: 200px
      margin: 50px auto 0 auto
.congrats
  max-width: 1300px
  .title
    margin: 200px auto 0 auto
    font-size: 200px
    width: fit-content
    color: $blue
    -webkit-text-stroke: 2px $white
    letter-spacing: 2px
  .text
    margin: 50px auto 0 auto
    text-align: center
    color: $white
  .img-block
    margin-top: 20px
    display: flex
    justify-content: space-between
  .role-img
    max-width: 250px
    animation: pop 1s ease-out infinite
    &:nth-child(2),&:nth-child(3)
      margin-top: 50px
      animation: pop 1s .5s ease-out infinite
  .common-btn
    position: absolute
    top: 100px
    left: 50px
    max-width: 120px