@import ./font
//mixin
=posCenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
=typing
  &::after
    content:'|'
    display: inline-block
    margin-left: 5px
    animation: typing 1s ease infinite
    @keyframes typing
      0%
        opacity: 0
      100%
        opacity: 1

.bg
  position: absolute
  top: 0
  left: 0
main
  overflow: hidden
  height: 100vh
.welcome
  opacity: 0
  .title
    margin: 0 auto
    display: flex
    align-items: center
    gap: 50px
    width: fit-content
    color: $blue
    -webkit-text-stroke: 2px $white
    &::before
      content: '*'
      color: $white
    &::after
      content: '+'
      color: $white 
      font-size: 100px
  .img-tica
    margin: 50px auto 0 auto
    position: relative
    z-index: -1
    max-width: 260px
    width: 100%
  .welcome-text
    margin: -150px auto 0 auto
    width: 90vw
    text-align: center
    padding: 10px
    background: $light-gray
    >p
      padding: 50px 65px
      background: $green
      color: $white
      +typing
      
  .challenge-accepted
    margin: 30px auto 0 auto
    width: 200px
    opacity: 0
.introduction
  max-width: 1300px
  .intro-title
    display: flex
    align-items: center
    justify-content: center
    gap: 20px
    color: $white
    white-space: nowrap
    &::before, &::after
      content: ''
      width: 100%
      height: 15px
      border-radius: 15px
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%)
    &::after
      transform: rotate(180deg)
  .intro-content
    margin-top: 100px
    display: flex
    justify-content: center
    gap: 50px
    align-items: center
  .each-character
    max-width: calc( (100% - 100px) / 3  )
    >p
      margin-top: 15px
      padding: 0 20px
      color: $white
      &:first-child
        margin-top: 30px
  .character-img
    max-height: 340px
    overflow: hidden
  .intro-button
    margin-top: 30px
    display: flex
    justify-content: space-between
    align-items: center
  .recommend-link
    padding-bottom: 5px
    color: $white
    border-bottom: 1px solid $white
.product-owner
  max-width: 1300px
  .po-wrap
    padding: 150px 0
    display: flex
    align-items: flex-start
    gap: 30px
  .pig-img
    max-width: 300px
    flex-shrink: 0
  .dialog
    position: relative
    margin-left: 100px
    padding: 30px
    border: 10px solid $white
    background: $red
    color: $white
    &::before, &::after
      content: ''
      position: absolute
      display: inline-block
      border: 10px solid $white
      background: $red
    &::before
      width: 30px
      height: 30px
      top: 30px
      left: -135px
      animation: dialog1 1s infinite
      @keyframes dialog1
        0%
          opacity: 0
        100%
          opacity: 1
    &::after
      width: 50px
      height: 50px
      top: 0
      left: -85px
      animation: dialog2 1s infinite .5s
      @keyframes dialog2
        0%
          opacity: 0
        100%
          opacity: 1
  .btn-group
    justify-content: flex-end
.drag-game
  max-width: 1300px
  .jira-wrap
    display: flex
    gap: 40px
    align-items: flex-start
  .pig-img
    max-width: 180px
    max-height: 150px
    overflow: hidden
  .jira-box
    width: 100%
    padding: 15px 30px
    display: flex
    justify-content: space-between
    align-items: center
    background: $red
  .jira-logo
    max-width: 160px
  .jira-text
    color: $white
    a
      display: inline-block
      margin: 0 5px
      position: relative
      transition: letter-spacing .4s
      &:hover
        letter-spacing: 1.5px
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        width: 100%
        height: 1px
        background: $white
        animation: link 5s infinite
        @keyframes link
          0%, 50%, 100%
            width: 0
          25%, 75%
            width: 100%
  .drag-wrap
    display: flex
    height: 600px
    background: $dark-gray
    width: 100%
    color: $white
  .container
    padding: 15px
    background: $dark-gray
    width: 48%
    &:last-child
      padding-top: 70px
  .draggable
    padding: 20px 30px
    border: 5px solid $red
    cursor: grab
    &:not(:first-child)
      margin-top: 20px
    >p
      &:not(:first-child)
        margin-top: 15px
  .dragging
    border: 5px solid $white
    background: $red
    box-shadow: 8px 8px 0px rgba($light-gray, .3)
    transform: rotate(-10deg)
  .priority
    padding: 15px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    background: $light-gray
    width: 4%
    writing-mode: vertical-lr
  .productBacklog
    width: 100%
    height: 100%
  .sortable-ghost
    border: dashed 5px $light-gray
  .message
    display: none
    &.active
      position: absolute
      top: 0
      left: 0
      z-index: 1
      display: block
      background: rgba(#000, .6)
      width: 100vw
      height: 100vh
    .message-box
      +posCenter
    .pig-img
      margin: 0 auto
      max-width: 360px
      max-height: 305px
    .check-message
      margin-top: 30px
      text-align: center
      color: $white
    .game-prev, .game-next
      display: none
      width: 150px
      &.active
        margin: 30px auto 0 auto
        display: block
  .btn-group
    margin-top: 30px
    justify-content: flex-end
.sprint-explain
  max-width: 1300px
  .each-role
    display: flex
    align-items: center
    gap: 40px
    color: $white
    &:not(:first-child)
      margin-top: 40px
  .role-img
    max-width: 180px
    flex-shrink: 0
    img
      max-height: 200px
    >p
      margin-top: 15px
      text-align: center
  .text-box
    cursor: pointer
    p
      min-width: 70px
      min-height: 50px
      padding: 10px 20px
    &[bg="red"]
      p
        background: $red
    &[bg="green"]
      p
        background: $light-green
    &[bg="mustard"]
      p
        background: $mustard
    .explain-text
      display: none
      &.active
        display: block
  .btn-group
    margin-top: 30px
    justify-content: flex-end
  .more
    padding: 10px
    background: $dark-gray
    width: fit-content
    margin: 10px 0 0 auto
    animation: pop 1s infinite