doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E 2022 Week 3 by Sean
    link(rel="stylesheet", href='./css/style.css')

  body.index
    nav
      .nav-rocket
        img(src="./assets/img/rocket-process.png", alt="alt")
    h1 F2E 2022 Week 3 by Sean
    
    main
      .loading
        - for (let i = 1; i <= 20; i++)
        .star-field
          .stars.stars-sm
          .stars.stars-md
          .stars.stars-lg
        .rocket
          img(src="./assets/img/rocket-unfire.png", alt="alt")
        .rocket-firing
          img(src="./assets/img/rocket-firing.png", alt="alt")
      .transitions
        - let n = 0;
        ul 
          while n < 129
            li.cube= n++
      .bg
        .bg-stars.bg-star
        .bg-stars2.bg-star
        .bg-stars3.bg-star
      .welcome
        p.fz-100.title WELCOME
        .img-tica
          img(src="./assets/img/engineer-tica.png", alt="alt")
        .welcome-text
          p.fz-50.welcome-content
        .challenge-accepted
          p.fz-36 接受挑戰
      .test.fz-100.next-e 123
        .test-btn.fz-100 test

    footer F2E 2022 Week 3 by Sean

script(defer src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Observer.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js')
script(defer src="./js/animate.js")
script(defer src="./js/app.js")
