doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E 2022 Week 3 by Sean
    link(rel="stylesheet", href='./css/style.css')

  body.index
    nav
      .nav-rocket
        img(src="./assets/img/rocket-process.png", alt="alt")
    h1 F2E 2022 Week 3 by Sean
    
    main
      //進場
      //- .loading
      //-   - for (let i = 1; i <= 20; i++)
      //-   .star-field
      //-     .stars.stars-sm
      //-     .stars.stars-md
      //-     .stars.stars-lg
      //-   .rocket
      //-     img(src="./assets/img/rocket-unfire.png", alt="alt")
      //-   .rocket-firing
      //-     img(src="./assets/img/rocket-firing.png", alt="alt")
      
      //- //轉場
      //- .transitions
      //-   - let n = 0;
      //-   ul 
      //-     while n < 144
      //-       li.cube= n++
      
      //星星背景
      .bg
        .bg-stars.bg-star
        .bg-stars2.bg-star
        .bg-stars3.bg-star
      
      //滑鼠
      .mouse
        img.undrag(src="./assets/img/undrag.png", alt="alt")
        img.dragged(src="./assets/img/dragged.png", alt="alt")
      
      //- //第一個畫面
      //- .welcome.mgt-100
      //-   p.fz-100.title WELCOME
      //-   .img-tica
      //-     img(src="./assets/img/engineer-tica.png", alt="alt")
      //-   .welcome-text
      //-     p.fz-50.welcome-content
      //-   .challenge-accepted.common-btn
      //-     p.fz-36 接受挑戰
      
      //intro
      .introduction.next-e.mgt-100
        p.intro-title.fz-50 角色介紹
        .intro-content
          .each-character
            .character-img
              img(src="./assets/img/PO_head_lookleft.png", alt="")
            p.fz-36 產品負責人
            p.fz-24 產品方向及願景，定義產品細節，優先級別，交付時間。
          .each-character
            .character-img
              img(src="./assets/img/RD_head_lookleft.png", alt="")
            p.fz-36 敏捷教練
            p.fz-24 負責團隊 scrum 能合理運作，理解需求及安排產品技術製作時程，確保工程品質。
          .each-character
            .character-img
              img(src="./assets/img/SM_head_lookleft.png", alt="")
            p.fz-36 開發團隊
            p.fz-24 負責開發與交付產品，可為跨領域團隊，由設計師、工程師等不同專業人士組成。
        .intro-button
          a.recommend-link.fz-24(href="https://medium.com/%E6%96%87%E6%80%9D%E4%B8%8D%E8%97%8F%E7%A7%81/%E6%96%87%E6%80%9D%E4%B8%8D%E8%97%8F%E7%A7%81-scrum-%E7%9A%84%E8%A7%92%E8%89%B2%E5%88%86%E5%B7%A5-d1d05818a954").recommend-link 推薦閱讀連結
          .btn-group
            .intro-prev.common-btn <
            .intro-next.common-btn 我瞭解了！

      // PO game-intro
      .product-owner.next-e.mgt-100
        .po-wrap
          .pig-img
            img(src="./assets/img/pig.png", alt="alt")
          .dialog.fz-24.common-dialog
            .po-show.hide-dialog
              p (點擊顯示對話)
            p.po-content.show-dialog 
        .btn-group
          .po-prev.common-btn <
          .po-next.common-btn 接受挑戰
      
      //拖拉遊戲
      .drag-game.mgt-100.next-e
        .jira-wrap
          .pig-img
            img(src="./assets/img/pig.png", alt="alt")
          .jira-box
            .jira-text.fz-24
              p 請試著把需求放到產品待辦清單，並調整待辦的優先度順序。<br \>我們公司也推薦使用
                span
                  a(href="https://www.atlassian.com/zh/software/jira") Jira
                span 來做任務的管理呢！
            .jira-logo
              img(src="./assets/img/jira-logo.png", alt="")
        .drag-wrap
          .candidate.container
            p.fz-36.drag-title 產品待辦清單 Product Backlog
            .draggable.cotton-model(draggable="false" data-id="2")
              p.fz-24 前台職缺列表
              p 職缺詳細內容、點選可發送應徵意願
            .draggable.cotton-model(draggable="false" data-id="3")
              p.fz-24 應徵者的線上履歷編輯器
            .draggable.cotton-model(draggable="false" data-id="4")
              p.fz-24 會員系統
              p 登入、註冊、權限管理
            .draggable.cotton-model(draggable="false" data-id="1")
              p.fz-24 後台職缺管理功能
              p 資訊上架、下架、顯示應徵者資料
          .priority
            p 優先度高
            p 優先度低
          .container
            .productBacklog
        .message
          .message-box
            .pig-img
              img(src="./assets/img/pig.png", alt="alt")
            p.check-message.fz-24
            .game-prev.common-btn 返回挑戰
            .game-next.common-btn 前往下個挑戰
        .btn-group
          .drag-prev.common-btn <
          .drag-next.common-btn 我完成了

      //短衝規劃說明
      .sprint-explain.mgt-100.next-e
        .each-role.fz-24
          .role-img
            img(src="./assets/img/pig.png", alt="alt")
            p 產品負責人
          .text-box(bg="red")
            p.dot.dot1
            p.explain-text.explain-text1
        .each-role.fz-24
          .role-img
            img(src="./assets/img/coach.png", alt="alt")
            p 敏捷教練
          .text-box(bg="green")
            p.dot.dot2
            p.explain-text.explain-text2
        .each-role.fz-24
          .role-img
            img(src="./assets/img/developer.png", alt="alt")
            p 開發團隊
          .text-box(bg="mustard")
            p.dot.dot3
            p.explain-text.explain-text3
        .btn-group
          .explain-prev.common-btn <
          .explain-next.common-btn 沒問題，我來挑戰！

      //短衝待辦清單
      .sprint-list.mgt-100.next-e 
        .container
          .backlog-section
            p.fz-36.list-title 產品待辦清單 Product Backlog
            .droppable-container
          .sprint-section
            p.fz-36.list-title 開發 A 組的短衝待辦清單
            .droppable-container
            ul.current-point.fz-24 目前點數
              span.total-score
            .warning-text.hidden 
              p.fz-36 點數已超出上限，請移除一些項目
        .btn-group
          .list-prev.common-btn <
          .list-next.common-btn 準備好了！開始 Sprint

      //短衝
      .sprint.mgt-100.next-e.sprint-now
        .sprint-top
          .role-img
            img(src="./assets/img/RD_head_lookleft.png", alt="alt")
            p.fz-24 開發團隊
          .text-box(bg="green").fz-24
            p.dot.sprint-dot
            p.sprint-text 
        .sprint-bottom
          .option
            .option-box.option-box1.active
              p.fz-24 每日站立會議
              p Daily Scrum
            .option-box.option-box2
              p.fz-24 短衝檢視會議
              p Sprint Review
            .option-box.option-box3
              p.fz-24 短衝自省會議
              p Sprint Retrospective
          p.option-text.fz-24
            | 每天都要進行的會議，以 15 分鐘為限制<br \>昨天為團隊的短衝目標（Sprint Goal）做了那些進度<br \>今天我會如何準備來幫助團隊達到短衝目標<br \>過程中有遇到什麼問題、難題<br \>透過團隊分享，追蹤大家的工作狀況。
            span
        .btn-group
          .sprint-prev.common-btn <
          .sprint-next.common-btn 我瞭解了

      //短衝流程測驗 
      .sprint.sprint-drag.mgt-100.next-e
        .sprint-top
          .role-img
            img(src="./assets/img/RD_head_lookleft.png", alt="alt")
            p.fz-24 開發團隊
          .text-box(bg="green").fz-24
            p.dot.sprint-drag-dot
            p.sprint-text.sprint-drag-text
        .sprint-bottom.fz-24
          .flow-chart1
            .step 產品待辦清單
            span
            .step 短衝規劃
            span
            .step 短衝待辦清單
            span
          .flow-chart2
            p 短衝
            p Sprint
            span
            span
          .flow-chart3
        .selection-wrap
          .selection.answer(draggable="false" data-id="1").cotton-model
            p.fz-24 短衝檢視會議
            p Sprint Review
          .selection.answer(draggable="false" data-id="2").cotton-model
            p.fz-24 短衝自省會議
            p Sprint Retrospective
          .selection.answer(draggable="false" data-id="3").cotton-model
            p.fz-24 每日站立會議
            p Daily Scrum
        .check-selection
          .wrap
            .role-img
              img(src="./assets/img/RD_head_lookleft.png", alt="alt")
            .success
              p.fz-36 你做得非常好！<br \>你已經了解短衝的流程，<br \>接下來再繼續挑戰吧！
              .sd-next.common-btn 前往下個挑戰
            .fail
              p.fz-36 差一點！<br \>再思考一下流程，你可以的！
              .try-again.common-btn 再試試看
        .btn-group
          .sd-prev.common-btn <
          .sd-done.common-btn 完成了～
      
      //自省回顧
      .reflect.sprint.mgt-100
        .sprint-top
          .role-img
            img(src="./assets/img/RD_head_lookleft.png", alt="alt")
            p.fz-24 開發團隊
          .text-box(bg="green").fz-24
            p.dot.reflect-dot
            p.sprint-text.reflect-text
        .sprint-bottom
          .container
            p.fz-36 做得好的地方
            .box.wrong
              span 
              p.fz-24 這次我幫了很多人救火耶。
            .box.correct 
              span 
              p.fz-24 大家在開發上都會互相 cover，讓任務準時在時間內完成。
          .container
            p.fz-36 有哪些可以做得更好？
            .box.correct 
              span 
              p.fz-24 可以記錄這次的開發時間，讓預估團隊點數可以更精準。
            .box.wrong
              span 
              p.fz-24 開發時間預估不準確，請後端下次改進，避免 delay 到我。
        .answer
          .role-img
        .btn-group
          .reflect-prev.common-btn <
          .reflect-next.common-btn 我想我了解了！
      .congrats.next-e.fz-100 congrats
    footer F2E 2022 Week 3 by Sean

script(defer src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Observer.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js')

script(defer src='https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js')
script(defer src='https://cdn.jsdelivr.net/gh/cotton123236/cottonjs@latest/lib/cotton.min.js')
script(defer src="./js/animate.js")
script(defer src="./js/app.js")
