doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E 2022 Week 3 by Sean
    link(rel="stylesheet", href='./css/style.css')

  body.index
    nav
      .nav-rocket
        img(src="./assets/img/rocket-process.png", alt="alt")
    h1 F2E 2022 Week 3 by Sean
    
    main
      //進場
      .loading
        - for (let i = 1; i <= 20; i++)
        .star-field
          .stars.stars-sm
          .stars.stars-md
          .stars.stars-lg
        .rocket
          img(src="./assets/img/rocket-unfire.png", alt="alt")
        .rocket-firing
          img(src="./assets/img/rocket-firing.png", alt="alt")
      
      //轉場
      .transitions
        - let n = 0;
        ul 
          while n < 144
            li.cube= n++
      
      //星星背景
      .bg
        .bg-stars.bg-star
        .bg-stars2.bg-star
        .bg-stars3.bg-star
      
      //第一個畫面
      .welcome.mgt-100
        p.fz-100.title WELCOME
        .img-tica
          img(src="./assets/img/engineer-tica.png", alt="alt")
        .welcome-text
          p.fz-50.welcome-content
        .challenge-accepted.common-btn
          p.fz-36 接受挑戰
      
      //intro
      .introduction.next-e.mgt-100
        p.intro-title.fz-50 角色介紹
        .intro-content
          .each-character
            .character-img
              img(src="./assets/img/PO_head_lookleft.png", alt="")
            p.fz-36 產品負責人
            p.fz-24 產品方向及願景，定義產品細節，優先級別，交付時間。
          .each-character
            .character-img
              img(src="./assets/img/RD_head_lookleft.png", alt="")
            p.fz-36 敏捷教練
            p.fz-24 負責團隊 scrum 能合理運作，理解需求及安排產品技術製作時程，確保工程品質。
          .each-character
            .character-img
              img(src="./assets/img/SM_head_lookleft.png", alt="")
            p.fz-36 開發團隊
            p.fz-24 負責開發與交付產品，可為跨領域團隊，由設計師、工程師等不同專業人士組成。
        .intro-button
          a.recommend-link.fz-24(href="https://medium.com/%E6%96%87%E6%80%9D%E4%B8%8D%E8%97%8F%E7%A7%81/%E6%96%87%E6%80%9D%E4%B8%8D%E8%97%8F%E7%A7%81-scrum-%E7%9A%84%E8%A7%92%E8%89%B2%E5%88%86%E5%B7%A5-d1d05818a954").recommend-link 推薦閱讀連結
          .btn-group
            .intro-prev.common-btn <
            .intro-next.common-btn 我瞭解了！

      // PO game-intro
      .product-owner.next-e.mgt-100
        .po-wrap
          .pig-img
            img(src="./assets/img/pig.png", alt="alt")
          .dialog.fz-24.common-dialog
            .po-show.hide-dialog
              p (點擊顯示對話)
            p.po-content.show-dialog 
        .btn-group
          .po-prev.common-btn <
          .po-next.common-btn 接受挑戰
      
      //拖拉遊戲
      .drag-game.mgt-100.next-e
        .jira-wrap
          .pig-img
            img(src="./assets/img/pig.png", alt="alt")
          .jira-box
            .jira-text.fz-24
              p 請試著把需求放到產品待辦清單，並調整待辦的優先度順序。<br \>我們公司也推薦使用
                span
                  a(href="https://www.atlassian.com/zh/software/jira") Jira
                span 來做任務的管理呢！
            .jira-logo
              img(src="./assets/img/jira-logo.png", alt="")
        .drag-wrap
          .candidate.container
            p.fz-36.drag-title 產品待辦清單 Product Backlog
            .draggable(draggable="false" data-id="1")
              p.fz-24 前台職缺列表
              p 職缺詳細內容、點選可發送應徵意願
            .draggable(draggable="false" data-id="2")
              p.fz-24 應徵者的線上履歷編輯器
            .draggable(draggable="false" data-id="3")
              p.fz-24 會員系統
              p 登入、註冊、權限管理
            .draggable(draggable="false" data-id="4")
              p.fz-24 後台職缺管理功能
              p 資訊上架、下架、顯示應徵者資料
          .priority
            p 優先度高
            p 優先度低
          .container
            .productBacklog
        .message
          .message-box
            .pig-img
              img(src="./assets/img/pig.png", alt="alt")
            p.check-message.fz-24
            .game-prev.common-btn 返回挑戰
            .game-next.common-btn 前往下個挑戰
        .btn-group
          .drag-prev.common-btn <
          .drag-next.common-btn 我完成了

      //短衝規劃說明
      .sprint-explain.mgt-100.next-e
        .each-role.fz-24
          .role-img
            img(src="./assets/img/pig.png", alt="alt")
            p 產品負責人
          .text-box(bg="red")
            //產品待辦清單好了之後，我們來召集 Scrum Master 和開發團隊共同召開短衝規劃會議（Sprint Planning）。短衝即是一個迭代，具有固定時間限制，我們會在這個會議中，決定要完成哪些工作事項來達到商業需求，列出短衝待辦清單（Sprint Backlog），並由開發團隊在接下來的產品開發週期裡執行。
            p.dot.dot1
            p.explain-text.explain-text1
        .each-role.fz-24
          .role-img
            img(src="./assets/img/coach.png", alt="alt")
            p 敏捷教練
          .text-box(bg="green")
            //嗨嗨(ﾟ∀ﾟ)你是新來的前端吧！我是這次的 Scrum Master 山豬，我的工作主要是促成開發團隊成員協作、引導團隊進行自省會議，提升團隊成員對 Scrum 瞭解。這位是黃黃，是我們開發團隊的成員唷～
            p.dot.dot2
            p.explain-text.explain-text2
            //目前我們團隊一次 Sprint 週期是兩週的時間，依照我的觀察，目前團隊可以負擔的點數 (Sprint Point) 大約是 20 點左右。
        .each-role.fz-24
          .role-img
            img(src="./assets/img/developer.png", alt="alt")
            p 開發團隊
          .text-box(bg="mustard")
            //嘿！新來的，你應該還不知道點數是什麼意思吧(ゝ∀･)我來跟你介紹一下吧～ Sprint Point 目的是為了衡量速度，是用大概花費的時間預估出的相對點數。
            p.dot.dot3
            p.explain-text.explain-text3
            //我這邊已經把剛剛討論好的點數標上去囉～你來練習把任務排到短衝待辦清單吧！<br \><br \>對了，我們平常管理任務是使用 Jira     這套軟體，你有時間記得先去註冊和熟悉唷～
        .btn-group
          .explain-prev.common-btn <
          .explain-next.common-btn 沒問題，我來挑戰！

      //
      .test.fz-100.next-e 123

    footer F2E 2022 Week 3 by Sean

script(defer src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Observer.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js')

script(defer src='https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js')
script(defer src="./js/animate.js")
script(defer src="./js/app.js")
